.navbar {
  background: linear-gradient(rgb(18, 178, 206), rgb(110, 132, 150));
  padding: 1rem;
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}

.navbar-nav {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  margin-right: auto;
}

.nav-item {
  margin-right: 1rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-link:hover {
  text-decoration: underline;
}

.company-names {
  display: flex;
  align-items: center;
}

.company-name {
  color: white;
  margin-right: 2rem;
  font-weight:bolder;
  font-size: 20px;
}
