/* funding.css */

.product-upload {
    margin: 20px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
  }
  
  .product-upload h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .product-preview-img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group textarea {
    resize: vertical;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .marketplace {
    margin: 20px;
    padding: 20px;
    background: linear-gradient(rgb(110, 132, 150), #002633);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .fund-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
 
  .fund-label {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .fund-img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .fund-description,
  .fund-type {
    margin-top: 10px;
  }
  
  
  .fund {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100%; /* Ensure each .fund box takes full height */
}

.delete-button {
    margin-top: auto; /* Push the button to the bottom */
    background-color: #dc3545;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #c82333;
}
